* {
  /*damit ändere ich von allen Buchstaben den Font zu Oswald*/
  font-family: 'Oswald';
  text-align: center;
}

h1 {
font-family: 'Oswald Bold';
}

h2 {
  font-family: 'Oswald Bold';
}

h3 {
  font-family: 'Oswald Bold';
}

section {
  font-family: 'Oswald Bold';
}

*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

/*damit fügt man einen eigenen Font hinzu*/
@font-face {
  font-family: 'Oswald';
  src: url(Oswald-Regular.otf);
}

@font-face {
  font-family: 'Oswald Bold';
  src: url(Oswald-Bold.otf);
}

.OnePiece {
  /*kopiert aus dem Internet, ich hab es aber so umgeändert das es auf Handy und Pc gut aussieht mit view width*/
  flex: 0 0 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin-left: 24.6vw;
  margin-right: 24.6vw;
}

.OnePiece a img {
  width: 50vw;
  height: auto;
}